@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";


* {
    margin: 0;
    padding: 0;

}
.viewport {
    position: relative;
    height: 100vh;
}

.viewport:nth-child(1) {
    background-image: linear-gradient(to right, #195e9d, #007cb1, #0098b7, #00b2b1, #41c9a2);    
}

.viewport:nth-child(2) {
    background-image: linear-gradient(to right, #a93476, #c43963, #d44b4b, #d96532, #d28115);
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20rem;
}
.media {
    position: relative;
    overflow: hidden;
}

.media::before {
    display: block;
    content: '';
    top: 0; left: 0; right: 0; bottom: 0;
    position: absolute;
    z-index: 1;
    box-shadow: 3px 0px 45px 20px rgba(0,0,0,0.75) insert;
}

.media::after {
    display: block;
    content: '';
    padding-top: 56.25%;
    
}

.media.portrait::after {
    padding-top: 177.77%;
}

.media img {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: auto;
    
}

.media.portrait img {
    position: absolute;
    top:0;
    left: 0;
    width: auto;
    height: 100%;
    
}

i {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 5px;
}
