* {
    margin: 0;
    padding: 0;
}

html {
    font: 16px/1.5 Verdana, sans-serif;
}
body, table, form, select, option, input, textarea {
    font: inherit;
}
p,ul,ol {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2em;
}

ul ul , ol ol , ul ol, ol ul {
    padding-top: 0.5em;   
    padding-bottom: 0.5em;   
}

ul > li > ul > li {
    list-style-type: lower-roman;
}
ol > li > ol > li {
    list-style-type: lower-greek;
}

blockquote {
    padding: 1rem;
}
blockquote p:first-child {
    font-style: italic;
    opacity: 0.5;
}

blockquote p:last-child {
    font-style: italic;
    text-align: right;
    opacity: 0.5;
}

blockquote p:last-child::before {
    display: inline-block;
    content: '\2014';
    padding-right: 0.5em;
}