
/* To arrange the letters use the flex property **order** */


html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    max-width: 15vw;
    height: 35rem;
    flex-wrap: wrap;
    flex-direction: column;
    
}

span {
    box-sizing: inherit;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    flex: 0 0 2.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.8rem;
    margin-bottom: 0.5rem;    
}

.a1 {
    order: 9;
}
.a2 {   
    order: 2;
}
.a3 {
    order: 10;
}
.a4{
    order: 4;
}
.a5{
    order: 8;
}
.a6{
    order: 7;
}
.a7{
    order: 11; 
}
.a8{
    order: 5;
}
.a9{
    order: 6;
}
.a10{
    order: 12;
}
.a11{
    order: 1; 
}
.a12{
    order: 3; 
}