
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font: 16px/1.5 Verdana, sans-serif;
}

body {
    background: rgb(238, 238, 238);
    width: 80%;
    margin: 0 auto; 
}

body > header {
    border-bottom: 2px solid black;
    padding: 1rem 0;
}

h1, h2, blockquote {
    font-family: Georgia, serif;
}

p , blockquote {
    padding-bottom: 1.5rem;
}

article {
    padding-bottom: 2rem;
}

section {
    padding-top: 1rem;
}

img {
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    background: rgb(255, 255, 255);
}

.image1 {
    float: right;
    margin-left: 1.5rem;
}

.image2 {
    float: left;
    margin-right: 1.5rem;
}

blockquote {
    width: 50%;
    float: right;
    font-style: italic;
    opacity: 0.5;     
}

.move-right {
    text-align: right;
}

.cleaner:after {
    display: block;
    content: '';
    clear: both;
}


