@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: PT Sans, sans-serif;
}
body {
    margin: 4rem;
}

article {
    padding-bottom: 1em;
}

.first {
    list-style-type: square;
}
.second {
    list-style-type: disc;
}
.third {
    list-style-type: circle;
}
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}