*Reset.css*/

* {
    padding: 0;
    margin: 0;
}

/*box-sizing*/

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font: 16px/1.5  Helvetica , Verdana, sans-serif;

}

body, input, textarea, option, select, table, form {
    font: inherit;
}

body {
    padding: 1rem;
    max-width: 60%;
    margin: 3rem auto;

    background-color: rgb(238, 238, 238);
}



.gallery li {
    list-style: none;
    border: 0.4rem solid black;
    display: inline-block;

    overflow: hidden;
    vertical-align: middle;
    margin: 0 0.5em 1.5rem 0.5rem;
    width: 30%;
    
}

/*
li img:before {
    display: block;
    content: '';
    padding-top: 56.25%;
}

li img {
    display: block;
    padding: 0.5em;
    width: 100%;
    height: auto;
}
*/

